altgraph==0.17.4
auto-py-to-exe==2.46.0
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
Eel==0.18.2
et_xmlfile==2.0.0
fbs==1.2.7
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
greenlet==3.2.3
idna==3.10
importlib_resources==6.5.2
macholib==1.16.3
Nuitka==2.7.12
numpy==2.2.6
openpyxl==3.1.5
ordered-set==4.1.0
packaging==25.0
pandas==2.3.1
pefile==2023.2.7
pillow==11.3.0
pycparser==2.22
PyInstaller>=5.8.0
pyinstaller-hooks-contrib==2025.8
PyMuPDF==1.26.3
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
reportlab==4.4.2
requests==2.32.4
sip==6.12.0
six==1.17.0
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
zope.event==5.1
zope.interface==7.2
zstandard==0.23.0
