/*
    background darker = #004646
    background dark and slighly darker = #007A7A
    background dark = #006666
    background normal and slighly darker = #008F8F
    background normal = #00B8B8
    background light = #EBFFFF
    background lighter = #ffffff

    lists background = #006666
    lists background (alternate) = #008F8F
    lists backgrounds selection = #00E0E0

    foreground = black

    selection darker = #004646
    selection dark = #006666
    selection normal = #008F8F
    selection inbetween normal and light = #00B8B8 (used to build SpinBoxes)
    selection light = #00E0E0
    selection lighter = #D6FFFF 
*/
QLineEdit {
    color: #ffffff;
    background-color: #b6b6b6;
    selection-color: black;
    selection-background-color: #00E0E0;
    /* Padding and margin defined */
    border-style: solid;
    border: 1px solid #b6b6b6; /* border top color defined after QAbstractSpinBox, QLineEdit and QComboBox */
    border-top-color: #a2a2a0; /* Creates an inset effect inside the elements */
    padding: 2px 6px 2px 6px; /* This makes text colour work on QComboBox */
    margin: 0px 2px 0px 2px;
    border-radius: 3px;
}

QLineEdit:focus{
    border-color: #7cabf9;
}
tabBarPlus {
    qproperty-drawBase: 0;
    left: 5px;
    background-color: transparent;
    font-size: 15px;
}

tabBarPlus:focus {
    border: 0px transparent black;
}

tabBarPlus::close-button {
    padding: 0px;
    margin: 0px;
    border-radius: 2px;
    background-image: url("src/main/resources/base/ui/close.png");
    background-position: center center;
    background-repeat: none;
}

tabBarPlus::close-button:hover {
    background-color: #006666;
}

tabBarPlus::close-button:pressed {
    background-color: #adc5ed;
}

tabBarPlus::scroller { /* the width of the scroll buttons */
    width: 20px;
}

tabBarPlus::tab:top,
tabBarPlus::tab:bottom {
    color: black;
    border: 1px solid #b6b6b6;
    border-left-color: #e6e6e6;
    border-right-width: 0px;
    background-color: white;
    padding:5px 15px;
    width: 100px;
}

tabBarPlus::tab:top:first,
tabBarPlus::tab:bottom:first {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tabBarPlus::tab:top:last,
tabBarPlus::tab:bottom:last {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right-width: 1px;
}

tabBarPlus::tab:top:selected,
tabBarPlus::tab:bottom:selected {
    color: white;
    background-color: qlineargradient(spread:pad, x1:1, y1:0.545, x2:1, y2:0, stop:0 #00b0b0, stop:1 #00BaBa);
    border-color: #006666;
}

tabBarPlus::tab:top:!selected:hover,
tabBarPlus::tab:bottom:!selected:hover {
    color: black;
}

tabBarPlus::tab:top:only-one ,
tabBarPlus::tab:bottom:only-one {
    border: 1px solid #1b3774;
    border-radius: 6px;
}
fileWindow {
    border-width: 2px;
    outline: 0;
    color: white;
    background-color: white;
}
fileWindow::title{
    color: black;
    border-width: 0px;
    text-align: center;
    background-color: white;
}
fileWindow::close-button {
    padding: 0px;
    margin: 0px;
    border-radius: 2px;
    background-image: url("src/main/resources/base/ui/close.png");
    background-position: center center;
    background-repeat: none;
}
fileWindow::close-button:hover {
    background-color: #004646;
}

fileWindow::close-button:pressed {
    background-color: #adc5ed;
}

QMainWindow {
    background-color: white;
}

QDockWidget#Title {
    background-color: #004646;
}
QDockWidget#Toolbar{
    background-color: white;
    border: 1px solid #e6e6e6;
}

QDockWidget::float-button {
    border: 1px transparent #e6e6e6;
    border-radius: 2px;
    background: transparent;
    subcontrol-origin: padding;
    subcontrol-position: right center;
}
QDockWidget::float-button {
    right: 4px;
}

QDockWidget::float-button:hover {
    background: #f5f5f5;
}

QDockWidget::float-button:pressed {
    /*padding: 1px -1px -1px 1px;*/
    background-color: #e0e0e0;
}

QScrollArea{
    border-style: none;
    border-width: 0px;
}

QWidget#ToolbarScrollWidget {
    background-color: white;
}

QToolButton {
    color: #f2f2f2;
    text-align: center;
    background-color: rgba(213, 213, 213, 0);
    border: 0px solid #828282;
    outline: none;
    border-radius: 8px;
}

QToolButton:hover,
QToolButton:focus {
    color: black;
    border: 3px solid #00BaBa;
}

QToolButton:disabled,
QToolButton:disabled:checked {
    color: #b6b6b6;
    background-color: #e6e6e6;
    border-color: #b6b6b6;
}

QToolButton:pressed {
    border-color: #004646;
}

QToolButton:checked {
    background-color: #006666;
    border-color: #004646;
}

sectionLabel{
    border-color: #00B8B8;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    color: gray;
}

sectionLabel:first{
    margin-top: 0px;
}

customView QPushButton{
    background-color: rgba(214, 54, 40, 50%);
    border: 1px dashed white;
    border-radius: 2px;
    font-size: 18px;
    font-weight: Bold;
    padding: 1px 2px 3px 3px;
    color: rgba(255, 255, 255, 50%);
}
customView QPushButton:Hover{
    background-color: rgba(214, 54, 40, 90%);  
}

customTabWidget QPushButton{
    background: rgba(230, 230, 227, 0%);
    padding: 1px;
    border: 0px solid #E6E6E3;
    border-radius: 10px;
}
customTabWidget QPushButton:hover{
    background: rgba(230, 230, 227, 60%);
}

customTabWidget::pane { 
    margin: 0px,1px,1px,1px;
    border: 2px solid #E6E6E3;
    border-radius: 7px;
    padding: 1px;
    background-color: #E6E6E3;
}
canvas{
    bottom: -20px;
}

customTabWidget customView {
    border-width: 0px;
    padding: 5px;
    border-radius: 2px;
}
QHeaderView {
    qproperty-defaultAlignment: AlignHCenter;
}

QHeaderView::section {
    padding: 4px;
    border-style: none;
    background-color: white;
}

QHeaderView::section:first{
    border-bottom: 1px solid black;
}

QTableView {
    border: none;
}

QTableView::item {
    border: none;
    color: black;
}

QTableView::item:selected {
    background-color: transparent;
    color: black;
}
